body {
   margin: 0;
   padding: 0;
   font-family: 'Robot';
}

.main {
   margin: 50px;
   padding-left: 20px;
}


.content {
   background-color: rgb(157, 214, 182);
   padding: 10px 0 0 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: space-around;
}