body {
   margin: 0;
   padding: 0;
   font-family: 'Robot';
}

.main {
   margin: 50px;
   padding-left: 20px;
}


.content {
   background-color: rgb(157, 214, 182);
   width: 100%;
   padding: 10px 0 0 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: space-around;
   color: rgb(36, 19, 187);
}

.select {
   height: 35px;
   font-weight: 700;
   background-color: rgb(23, 194, 114);
}